@media screen and (max-width:750px){
	.m-fl-fl{
		float: left !important;
	}
	.m-dis-no{
		display: none !important;
	}
	.m-dis-bl{
		display: block !important;
	}
	.m-po-re{
		position: relative !important;
	}
	.m-po-ab{
		position: absolute !important;
	}
	.m-po-fi{
		position: fixed !important;
	}

	.m-hei-at{
		height: auto !important;
	}
	.m-wid-at{
		width: auto !important;
	}
	
	.m-after-no{
		&:after{
			display: none;
		}
		&:before{
			display: none;
		}
	}
	.m-fl-no{
		float: none !important;
	}
	.m-box-at{
		margin: 0 auto !important;
	}
	.m-ta-l{
		text-align: left !important;
	}
	.m-ta-c{
		text-align: center !important;
	}
	.m-ta-r{
		text-align: right !important;
	}

	.m-po-re{
		position: relative !important;
	}

	@for $i from 0 through 30 {
		.m-mt-#{$i}{
			margin-top:$i*1px !important;
		}
	}

	@for $i from 0 through 30 {
		.m-ml-#{$i}{
			margin-left:$i*1px !important;
		}
	}

	@for $i from 0 through 30 {
		.m-mr-#{$i}{
			margin-top:$i*1px !important;
		}
	}

	@for $i from 0 through 30 {
		.m-mb-#{$i}{
			margin-bottom:$i*1px !important;
		}
	}

	@for $i from 0 through 30 {
		.m-pt-#{$i}{
			padding-top:$i*1px !important;
		}
	}

	@for $i from 0 through 30 {
		.m-pl-#{$i}{
			padding-left:$i*1px !important;
		}
	}

	@for $i from 0 through 30 {
		.m-pr-#{$i}{
			padding-right:$i*1px !important;
		}
	}

	@for $i from 0 through 30 {
		.m-pb-#{$i}{
			padding-bottom:$i*1px !important;
		}
	}

	@for $i from 0 through 100 {
		.m-wid-#{$i}{
			width:$i*1% !important;
		}
	}
	@for $i from 0 through 200 {
		.m-widp-#{$i}{
			width:$i*1px !important;
		}
	}

	@for $i from 0 through 100 {
		.m-hei-#{$i}{
			height:$i*1px !important;
		}
	}

	@for $i from 0 through 100 {
		.m-left-#{$i}{
			left:$i*1px !important;
		}
	}
	@for $i from 0 through 100 {
		.m-right-#{$i}{
			right:$i*1px !important;
		}
	}
	@for $i from 0 through 100 {
		.m-top-#{$i}{
			top:$i*1px !important;
		}
	}
	@for $i from 0 through 100 {
		.m-bottom-#{$i}{
			bottom:$i*1px !important;
		}
	}
}