#__bs_notify__
	display none !important
.wid
	width 1200px
	margin 0 auto
	

.my-header
	line-height 76px
	a
		float left
		width 141px
		height 65px
		img
			width 100%
	span
		font-size 24px
		color #333
		float right


.banner
	overflow hidden
	ul
		li
			width 100%
			img 
				width 100%


.info-three
	padding 80px 0
	.box
		border 5px solid #abbac5
		border-radius 5px
		padding-bottom 20px
		strong
			line-height 55px
			text-align center
			font-size 24px
			color #333
			display block
		span
			width 100%
			height 46px
			line-height 46px
			background #eff3f5
			font-size 18px
			color #8091a5
			font-weight bold
			padding-left 10px
			margin-bottom 15px
			display block
		p
			width 95%
			margin 0 auto 30px
			font-size 16px
			color #333
			text-align justify
			line-height 1.9
		a
			width 122px
			height 36px
			line-height 36px
			background #ed1c24
			border-radius 20px
			text-align center
			color #fff
			font-size 16px
			display block
			margin 0 auto
			transition .3s
			&:hover
				background #f2676d
				text-decoration none


.info-three-gray
	background url("../img/86d7c407078411c1fd83ace33db4f38c.jpg") #eff3f5 center top no-repeat
	padding 70px 0 65px
	h2
		font-size 32px
		color #333
		text-align center
		margin-bottom 60px
		font-weight bold
	.box
		background #fff
		padding 20px 0 30px
		strong
			font-size 24px
			color #333
			display block
			text-align center
			margin-bottom 20px
		.row-box
			width 100%
			height 60px
			display table
			span
				position relative
				float left
				line-height 1.9
				width 80px
				background #eff3f5
				text-align center
				font-size 16px
				color #333
				&:after
					content:""
					position absolute
					right -6px
					top 0
					width 0
					height 0
					 border-top 15px solid transparent
					 border-left 6px solid #eff3f5
					 border-bottom 15px solid transparent
			p
				width calc(100% - 100px)
				float right
				line-height 1.9
				font-size 16px
				color #333
				margin-bottom 0
		a
			width 122px
			height 36px
			line-height 36px
			background #ed1c24
			border-radius 20px
			text-align center
			color #fff
			font-size 16px
			display block
			margin 20px auto 0
			transition .3s
			&:hover
				background #f2676d
				text-decoration none
	

.red-box
	text-align center
	color #ffff
	background url("../img/01f8b028c0996881465b91b24264686e.jpg") #ed1c24 center bottom no-repeat
	font-size 32px
	padding 60px 0


.guide
	background url("../img/47b95cdde9ee7dcbafa94e1a8ffd78a9.jpg") #eff3f5 center bottom no-repeat
	padding 60px 0 40px
	text-align center
	strong
		font-size 32px
		color #333
		display block
		margin-bottom 10px
	p
		font-size 28px
		color #6c6a6a
		margin-bottom 30px
	.box{
		width 100%
	}
	.m-btn
		width 19%
		height 60px
		line-height 56px
		border 2px solid #3092f3
		border-radius 8px
		background #fff
		float left
		margin-left 1%
		overflow hidden
		margin-bottom 20px
		font-size 18px
		&:hover
			background #e7e7e7
		i
			float left
			width 55px
			text-align center
			img
				width 40px
				height 40px

		span
			width calc(100% - 55px)
			float right
			font-size .9em
			color #2c3e54
			text-align center


.lj
	clear both
	width 122px
	height 36px
	line-height 36px
	background #ed1c24
	border-radius 20px
	text-align center
	color #fff
	font-size 16px
	display block
	margin 20px auto 0
	transition .3s
	&:hover
		background #f2676d
		color #fff
		text-decoration none


.adv
	padding 60px 0 20px
	.top
		text-align center
		margin-bottom 60px
		strong
			font-size 32px
			color #333
			display block
			margin-bottom 15px
		p
			font-size 28px
			color #6c6a6a
	.list-box
		background #ff031d
		padding 17px 11px
		height 372px
		margin-bottom 55px
		.box
			width 100%
			height 100%
			border 1px solid #e3b0b8
			padding 3px 7px
			b
				width 51px
				height 51px
				text-align center
				line-height 51px
				font-size 21px
				color #333
				background url("../img/133b667278ca91408b8b9422bd196e94.png") no-repeat
				border-radius 50%
				display block
				margin 0 auto 10px
			h3
				width 90%
				border-bottom 1px solid #fff
				font-size 24px
				color #fff
				line-height 1.2
				padding-bottom 5px
				margin 0 auto 30px
				text-align center
				
			p
				font-size 16px
				text-align justify
				color #fff
				line-height 1.9


.paperwork
	position relative
	background url("../img/52f4f7964835fae0b04739f57bc5642f.jpg") #eff3f5 center top no-repeat
	padding 50px 0
	&:after
		content ""
		position absolute
		bottom -10px
		left 0
		width 100%
		height 24px
		background url("../img/19465be5d6c77eafcf21cf682f4c45dc.png") no-repeat
		display block
	.top
		text-align center
		strong
			font-size 32px
			color #333
			display block
			margin-bottom 10px
		img
			margin-bottom 20px
	ul
		display table
		margin 0 auto
		li
			width 200px
			margin-left 90px
			&:first-child
				margin-left 0
			.pic
				width 114px
				height 114px
				border-radius 50%
				margin 0 auto 15px
				overflow hidden
				img
					width 100%
					min-height 100%
			.text
				strong
					text-align center
					font-size 26px
					color #3190ea
					display block
					margin-bottom 15px
				p
					font-size 16px
					color #333
					text-align justify
					line-height 1.9


.fill
	height 381px
	background url("../img/b53dc30233a7da550fdce437b259b428.jpg") no-repeat
	padding-top 90px
	p
		font-size 28px
		color #fff
		text-align center
		line-height 1.9
		margin-bottom 30px
	form
		width 100%
		padding-left 90px
		label
			float left
			font-size 28px
			color #fff
			margin-right 110px
			input
				height 24px
				line-height 24px
				text-indent 10px
				width 280px
				font-size 14px
				color #000
				&.short
					width 140px
		input[type="submit"]
				width 200px
				height 45px
				background #ed1c24
				font-size 26px
				font-weight bold
				border-radius 10px
				color #fff
				float left


.select-fill
	overflow hidden
	width 100%
	padding-bottom 50px
	background url("../img/9d2861fa1e9bbfaf347d8acc327c5613.jpg");
	h4
		font-size 32px
		color #fff
		line-height 1.7
		text-align center
	h5
		font-size 24px
		color #fff
		margin-bottom 40px
		text-align center
	.big-box
		// width 100%
		// overflow hidden
		
	.box
		margin-bottom 5px
		&.two
			td
				background #f2fdfa
		&.three
			td
				background #fff8f7
		&.four
			margin-bottom 70px
			td
				background #f3f8ff
		table
			table-layout fixed
			margin-bottom 0
			min-width 1000px
			width 100%
		tr
			td
				border 1px solid #515253
				background #fffbf6
				min-height 64px
				text-align center
				vertical-align middle
				font-size 15px
				color #3a3a3a
				width 10%
				&.bgd
					background #f55b2b
					font-weight bold
				&.bgd2
					background #84c0f8
					color #fff
					font-weight bold
				&.bgd3
					background #f00
					color #fff
					font-weight bold
				&.bgd4
					background #3483f2
					color #fff
					font-weight bold
				&:first-child
					width 5%
				&:nth-child(2)
					width 15%
				&:nth-child(3)
					width 25%
				&:nth-child(4)
					width 5%
				

@media screen and (max-width: 1200px){
	.wid{width: 100%;padding 0 15px;}
	.banner{
		margin-bottom 20px
	}
	.info-three .box{
		height 340px
		margin-bottom 20px
	}
	.info-three-gray .box{
		margin-bottom 20px
	}
	.info-three-gray .box .row-box{
		height 90px
	}
	.info-three-gray .box a{
		margin-top 0
	}
	.fill form label{
		margin-right 20px
	}

}

@media screen and (max-width: 970px){
	.info-three .box{
		margin-bottom 20px
	}
	.m-btn{
		width 45% !important
	}
	.paperwork ul li{
		width 30%
		margin-left 3.33%	
		padding 0 20px
	}
	.fill p{
		font-size 20px
		line-height 1.5
		margin-bottom 0
	}
	.fill form{
		width 60%
		padding-left 0
		display table
		margin 0 auto
	}
	.fill form label{
		width 100%
		margin-right 0
		float none
	}
	.fill form input[type="submit"]{
		margin-top 10px
		float none
		display block
		margin 10px auto 0
	}
}

@media screen and (max-width: 750px){
	.info-three .box{
		height auto
		margin-bottom 20px
	}
	.info-three-gray h2{
		padding 0 15px
		line-height 1.4
	}
	.info-three-gray .box .row-box span{
		width 30%
		font-size 21px
		display block
		margin-bottom 15px
	}
	.info-three-gray .box .row-box span:after{
		border-top: 19.5px solid transparent
		border-bottom: 19.5px solid transparent
	}
	.info-three-gray .box .row-box{
		height auto
		margin-bottom 15px
	}
	.info-three-gray .box .row-box p{
		width 100%
		font-size 21px
		padding 0 15px
	}
	.paperwork ul li{
		width 100%
		padding 0
		margin-left 0
		margin-bottom 20px
	}
	.paperwork ul li .text strong{
		margin-bottom 5px
	}
	.paperwork ul li .text p{
		text-align center
		width 50%
		margin 0 auto
	}
	.fill form{
		width 100%
		padding-left 0
		display table
		margin 0 auto
	}
	.fill form input[type="submit"]{
		float left
	}
	.guide .m-btn{
		width 70% !important
		display inline-block
		float none
	}
	.adv .list-box{
		height auto
		margin-bottom 20px
	}
	.paperwork .top img{
		width 100%
	}
	.fill p{
		width 60%
		font-size 18px
		margin 0 auto 10px
	}
	.fill form label{
		font-size 18px
		margin-bottom 10px
	}
	.fill form input[type="submit"]{
		font-size 18px
		margin 0 auto
		float none
		height 40px
	}
	.select-fill h4{
		font-size 22px
	}
	.select-fill h5{
		font-size 20px
	}
	.info-three-gray .wid{
		padding 0
	}
	.my-header{
		padding 10px 0
	}
	.my-header a{
		width 40%
	}
	.my-header{
		span{
			width 50%
			font-size 18px
		}
	}
}